


<div class="content" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="matcard">
    <mat-card-header>
      <mat-card-title>Profile</mat-card-title>

    </mat-card-header>
    <mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" (click)="openDialog(editProfileDialog)">Edit Profile</button>
      </mat-card-actions>

      <mat-grid-list cols="2">
        <mat-grid-tile>

          <div class="content">
            <p>Name</p>
            <p>Domain</p>
            <p>Gender</p>
            <p>Date of Birth</p>
            <p>Phone Number</p>
            <p>Location</p>
          </div>


        </mat-grid-tile>
        <mat-grid-tile>

          <div class="content">
            <p>{{userDetails.Name}}</p>
            <p>{{userDetails.Domain}}</p>
            <p>{{userDetails.Gender}}</p>
            <p>{{userDetails.Dob}}</p>
            <p>{{userDetails.PhoneNumber}}</p>
            <p>{{userDetails.Location}}</p>
          </div>

        </mat-grid-tile>

      </mat-grid-list>
    </mat-card-content>

  </mat-card>
</div>

<ng-template #editProfileDialog>
  <h1 mat-dialog-title>Edit Details</h1>



  <div mat-dialog-content>
    <form [formGroup]="editUserDetailsForm" (ngSubmit)="editDetails()">
      <div>
        <mat-form-field  class="full-width" appearance="fill">
          <mat-label>Name </mat-label>
          <input matInput formControlName="Name">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Domain </mat-label>
          <input matInput formControlName="Domain">
        </mat-form-field>
      </div>



      <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="50" class="sec1" fxFlex.xs="55">
          <mat-label>Gender </mat-label>
          <div>
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button value="Male">Male </mat-radio-button>
              <mat-radio-button value="Female">Female </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div fxFlex="50" class="sec2">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

        </div>



        </div>


     <div>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Phone Number </mat-label>
        <input matInput maxlength="10" formControlName="PhoneNumber">
     </mat-form-field>
     </div>


     <div>
      <mat-form-field class="full-width"  appearance="fill">
        <mat-label>Location</mat-label>
        <textarea matInput placeholder="Locationt" formControlName="Location"></textarea>
     </mat-form-field>
     </div>


      </form>
  </div>

  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" (click)="editDetails()">Save</button>

  </div>
</ng-template>
