.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.matcard{
  width: 600px;
  border: none;
}


.content{
  margin: 10px;
}


.full-width{
  width: 90%;
  margin-top: 5px;
}

.mat-radio-button{
  margin-left: 10px;
}

.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.mat-card-image{

  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.mat-card-image:first-child{
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}



